*{
  margin: 0;
  padding: 0;
}
body{ 
  background: #454851;
  font-family: 'Roboto', sans-serif;
}

#start-game{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #cb8b5a;
  color: white;
  z-index: 1;
}
.forms{
  background: #1d1d1b;
  height: 200px;
  width: 300px
}

input{
  text-align: center;
}


.game-board{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50vh;
  height: 50vh;
  margin: 10vh auto 0 auto;
}

.square{
  border: 3px solid #111;
  width: 100%;
  height: 100%;
  background: #eee;
}

.current-player{
  font-weight: bold;
}

.square:hover{
  cursor: pointer;
}

.winner{
  animation: color-change-2x 0.3s linear infinite alternate both;
}
.board{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}
.score{
  position: relative;
  padding: 20px;
  width: 100% - 20px;
  background: #cb8b5a;
}

.red{
  color: red;
}
.blue{
  color: blue;
}

#gameover{
  position: fixed;
  left: 30vw;
  top: 20vh;
  width: 40vw;
  height: 30vh;
  background: white;
  display: none;
}

.button{
  background: #bbb;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}










@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}



/* TOGGLE SWITCH */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 58px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}